form {
    display: inline-block;
}

#addButton1 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#00b33c;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#removeButton1 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#addButton2 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#00b33c;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#removeButton2 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#addButton3 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#00b33c;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#removeButton3 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#addButton4 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#00b33c;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#removeButton4 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#addButton5 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#00b33c;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}

#removeButton5 {
    display: inline-block;
    height:20px;
	width:75px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:1px;
}
